{% extends "management/base.html" %}

{% load staticfiles %}

{% block title %}我的已经借阅的图书{% endblock %}

{% block content %}

        <h2 class="text-center">下面是已经借阅的图书，点击归还</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Book name</th>
                            <th>Borrow time</th>
                          <th>Deadline</th>
                            <th>Fine</th>
                            <th>Operate</th>
                        </tr>
                      </thead>
                    <tbody>
                     {% for t in book_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ t.0.name }}</td>
                            <td>{{ t.1 }}</td>
                            <td>{{ t.2 }}</td>
                            <td>{{ t.3 }}</td>
                            <td><a class="btn btn-sm btn-success " href="{% url 'return_book' %}?book_id={{ t.0.id }}">return</a></td>
                        </tr>
                     {% empty %}
                         <tr>You have not borrowed books!</tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
{% endblock %}